# SPDX-FileCopyrightText: 2025 OpenCHAMI Contributors
#
# SPDX-License-Identifier: MIT
# Code owners for this repository
# These owners will be the default owners for everything in the repo
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.

* @OpenCHAMI/maintainers
